Header {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    padding: 0 12px;
}


.search {
    flex: 1;
    height: 30px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-left: .11px;
    margin: 0 10px;
}

.search .input {
    flex: 1;
    height: 80%;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.input input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: none;
}

.icon-iconfontzhizuobiaozhun22 {
    color: #999;
}
